/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.box-room-shadow {
-fx-background-color:  #4CAF50;
-fx-border-radius: 7px;
-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}