/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.box-room-shadow {
-fx-border-radius: 7px;
-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
-fx-padding: 10, 5, 10, 5;
}

.box-room-shadow .image-view {
	-fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-border-color: white;
}

.box-room-shadow .label {
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 20;
}